

<%
  subtitle ||= ""
  title ||= "" %>
<div class="items-start justify-center flex-1 h-full grid-cols-10 gap-4 lg:grid lg:items-center lg:grid-cols-2">
  <div class="relative flex items-center justify-center h-32 overflow-hidden lg:h-screen bg-gradient-to-tr from-bg-dark-500 to- bg-dark-500">
    <div class="inset-auto z-30 flex items-center justify-center flex-1 w-full h-auto font-sans text-center text-black shadow lg:flex lg:h-screen lg:absolute xl:text-5xl">
      <svg version="1.1" id="svg5" xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1668.56 1221.19"
   style="enable-background:new 0 0 1668.56 1221.19;" xml:space="preserve">
<g id="layer1" transform="translate(52.390088,-25.058597)">
  <path id="path1009" d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99
    h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z"/>
</g>
</svg>
    </div>
  </div>
  <div>
    <div class="relative z-20 px-6 mx-auto lg:px-12 max-w-lg">
      <div class="mb-4 xl:mt-8">
        <div class="mt-6 mb-4 lg:mt-0">
          <%= link_to "Back", root_path, class: "text-gray-600 underline flex items-center hover:text-gray-700 hover:no-underline" %>
        </div>

        <% unless title.blank? %>
        
          <h1 class="pt-6 font-sans text-3xl font-black leading-tight"><%= title %></h1>
        <% end %>

        <% unless subtitle.blank? %>
          <p class="text-gray-600 mt-3"><%= subtitle %></p>
        <% end %>
      </div>

      <%= yield %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
